<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuctionApp</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a id="Logo" class="navbar-brand" asp-controller="Home" asp-action="Index">Auction application</a>
                <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#NavbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="NavbarMenu" class="collapse navbar-collapse">
                    <div class="d-flex ml-auto flex-column">
                        @Html.Partial("_LoginPartial")
                        @Html.Partial("_SearchFormPartial")
                    </div>
                </div>
            </div>
            <div class="d-sm-block d-lg-flex justify-content-between pt-2 pb-2 bg-dark">
                <nav id="MainNav" class="nav nav-justified flex-column flex-lg-row d-flex d-lg-inline-flex">
                    <a class="flex-fill flex-lg-grow-0 nav-item nav-link" asp-controller="Home" asp-action="Index">Strona główna</a>
                    <a id="AuctionLink" class="flex-fill flex-lg-grow-0 nav-item nav-link active" asp-controller="Item" asp-action="Index">Dostępne przedmioty</a>
                    <a class="flex-fill flex-lg-grow-0 nav-item nav-link" asp-controller="Home" asp-action="HowToOffer">Jak licytowac?</a>
                    <a class="flex-fill flex-lg-grow-0 nav-item nav-link" asp-controller="Home" asp-action="Contact">Kontakt</a>
                    <a class="flex-fill flex-lg-grow-0 nav-item nav-link" asp-controller="Home" asp-action="About">O nas</a>
                </nav>
                <div class="flex-lg-row d-lg-inline-flex justify-content-center d-flex ml-3 ml-lg-0 mr-3">
                    <a role="button" class="btn btn-dark d-block w-100" asp-controller="Cart" asp-action="Index">
                        <span class="fa fa-shopping-basket"></span>
                        <span>@await Component.InvokeAsync("TotalCost")</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 filter-col">
                <div class="row no-gutters">
                    <div class="col-lg-3"><!-- side map here --></div>
                    <div class="col-lg-9 col-12">
                        @Html.Partial("_FilterBarPartial")
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 bg-dark d-inline-block category-colum">
                @await Component.InvokeAsync("Category")
            </div>
            <div class="col-12 col-lg-9">
                <main class="body-content">
                    @RenderBody()
                </main>
            </div>
        </div>
        <hr />
        <footer class="d-flex justify-content-between bg-dark pt-2">
            <a class="logo ml-3 mt-2" asp-controller="Home" asp-action="Index">Auction web application.</a>
            <div class="d-flex flex-lg-column text-right mt-2 mr-3">
                <a asp-controller="Home" asp-action="Contact" class="mb-1">Kontakt</a>
                <p>&copy; 2018 - Mateusz Turek</p>
            </div>
        </footer>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/dist/sassForAuctionLayout.bundle.js"></script>
        <script src="~/dist/tsAuction.bundle.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
