
@model AuctionApp.Areas.customer.Models.ContactViewModel

@await  Component.InvokeAsync("EditContact")

<div class="card">
    <div class="card-header bg-dark text-white">
        <div class="d-flex justify-content-between">
            <h5>
                <span class="fa fa-user"></span>
                @User.Identity.Name
            </h5>
            <div class="justify-content-end">
                <a href="#" class="mr-2" role="button" data-toggle="modal" data-target="#EditContactModal">
                    <span class="fa fa-edit"></span>
                </a>
                <a asp-area="customer" asp-controller="Customer" asp-action="Contact">
                    <span class="fa fa-info-circle"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <img src="~/images/s1.svg" height="150" width="150" />
            <dl class="clearfix ml-4">
                <dt>@Html.DisplayNameFor(m => m.Name):</dt>
                <dd>@Model.Name</dd>
                <dt>@Html.DisplayNameFor(m => m.Surname):</dt>
                <dd>@Model.Surname</dd>
                <dt>@Html.DisplayNameFor(m => m.Email):</dt>
                <dd>@Model.Email</dd>
                <dt>@Html.DisplayNameFor(m => m.Phone):</dt>
                <dd>@Model.Phone</dd>
                <dt>@Html.DisplayNameFor(m => m.Address):</dt>
                <dd>@Model.Address</dd>
            </dl>
        </div>
    </div>
</div>