
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AuctionLayout.cshtml";
}

@model IEnumerable<AuctionApp.Core.BLL.DTO.AuctionDTO>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4 mb-3">
            <div class="card">
                <img src="@Url.Content(item.ImgSrc)" style="height:200px; width: 100%;" />
                <div class="card-body">
                    <h5>
                        <a asp-controller="Auction" asp-action="Item" asp-route-id="@item.Id">@item.Name</a>
                    </h5>
                    @if (item.BuyNowPrice != 0)
                    {
                        <p>@string.Format(new System.Globalization.CultureInfo("pl"), "Kup teraz: {0:C}", item.BuyNowPrice)</p>
                    }
                    else
                    {
                        <p>Kup teraz: <span class="text-muted">brak</span></p>
                    }
                    <a asp-controller="Auction" asp-action="Item" asp-route-id="@item.Id" role="button" class="btn btn-dark d-block">
                        <span class="fa fa-plus"></span>
                        <span>Zobacz</span>
                    </a>
                </div>
            </div>
        </div>
    }
    <div class="col-12">
        <ul id="PaginationList" class="pagination justify-content-end">
            <li class="page-item">
                @if (ViewBag.AmountOfPagiingLink>0)
                {
                <a class="page-link" asp-controller="Auction" asp-action="Index"
                   asp-route-pageNumber="@(ViewBag.PageNumber - 1)"
                   asp-route-amountOfPagiingLink="@ViewBag.AmountOfPagiingLink"
                   asp-route-categoryId="@ViewBag.CategoryId"
                   asp-route-sortBy="@ViewBag.SortBy">Previous</a>
                }
            </li>
            
            @for (var i = 0; i < ViewBag.AmountOfPagiingLink; i += 1)
            {
                <li class="page-item" data-id="@(i+1)">
                    <a class="page-link" asp-controller="Auction" asp-action="Index"
                       asp-route-pageNumber="@(i+1)"
                       asp-route-amountOfPagiingLink="@ViewBag.AmountOfPagiingLink"
                       asp-route-categoryId="@ViewBag.CategoryId"
                       asp-route-sortBy="@ViewBag.SortBy">@(i + 1)</a>
                </li>
            }
            @if (ViewBag.AmountOfPagiingLink > 0)
            {
            
            <li class="page-item">
                <a class="page-link" asp-controller="Auction" asp-action="Index"
                   asp-route-pageNumber="@(ViewBag.PageNumber + 1)"
                   asp-route-amountOfPagiingLink="@ViewBag.AmountOfPagiingLink"
                   asp-route-categoryId="@ViewBag.CategoryId"
                   asp-route-sortBy="@ViewBag.SortBy">Next</a>
            </li>
            }
        </ul>
    </div>
</div>