
<div id="Waiting">
    <div class="d-flex justify-content-between mb-1">
        <h4>Przedmioty w poczekalni:</h4>
        @Html.Partial("_ToolBarPartial")
    </div>
    <div class="d-none">
        <table id="WaitingItemsTable" class="table">
            <thead class="thead-dark text-center">
                <tr>
                    <th>Kategoria</th>
                    <th>
                        <a data-order-by="@AuctionApp.Core.BLL.Enum.WaitingItemsOrderBy.Name">
                            <span>Nazwa</span>
                        </a>
                    </th>
                    <th>
                        <a href="#" data-order-by="@AuctionApp.Core.BLL.Enum.WaitingItemsOrderBy.BuyNowPrice">
                            <span>Kup teraz</span>
                        </a>
                    </th>
                    <th>
                        <a href="#" data-order-by="@AuctionApp.Core.BLL.Enum.WaitingItemsOrderBy.Payment">
                            <span>Płatność</span>
                        </a>
                    </th>
                    <th>Wystaw na licytacje</th>
                    <th>Usuń</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <!-- render by js -->
            </tbody>
        </table>

        <ul class="pagination justify-content-lg-center">
            <li class="page-item" data-arrow="left">
                <a class="page-link" href="#"><span>&laquo;</span></a>
            </li>
            <!-- render page numbers here ! -->
            <li class="page-item" data-arrow="right">
                <a class="page-link" href="#"><span>&raquo;</span></a>
            </li>
        </ul>
    </div>
</div>

<div class="empty d-none">
    <span>Brak przedmiotów w poczekalni.</p>
</div>

@Html.Partial("_AddToAuctionPartial")
@Html.Partial("_DeleteItemPartial")