
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AuctionApp.Models.Account.LoginViewModel

<div class="pt-2 pb-2 col-lg-6 offset-3">
    <h2>Logowanie</h2>
    <form asp-controller="Account" asp-action="Login" method="post">

        @Html.ValidationSummary(false,"",new { @class = "text-danger" })

        <div class="form-group row">
            @Html.LabelFor(m => m.Username, new { @class = "col-lg-3" })
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.Password, new { @class = "col-lg-3" })
            <div class="col-lg-9">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <span class="col-lg-3">Remeber me:</span>
            <div class="col-lg-9">
                @Html.CheckBoxFor(m => m.RememberMe)
                <button type="submit" class="btn btn-primary pull-right">Potwierdź</button>
            </div>
        </div>
    </form>
</div>