
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .empty-cart {
        font-size: 22px;
    }
    .price{
        font-size: 18px;
    }
    img {
        height: 120px;
    }
</style>

@model IEnumerable<AuctionApp.Core.BLL.DTO.CartItemDTO>

<div class="col-12 pb-4 pt-4">
    <div class="d-flex justify-content-between">
        <h3>Koszyk</h3>
        <div class="mt-0">
            <form asp-controller="Cart" asp-action="Clear">
                <button type="submit" class="btn btn-sm btn-danger">Wyczyść koszyk</button>
            </form>
        </div>
    </div>
</div>
<div class="col-12">
    @if (Model.Count() == 0)
    {
        <p class="empty-cart text-center pb-5">
            <span class="fa fa-info-circle"></span>
            <span>Koszy jest pusty.</span>
        </p>
    }
    else
    {
        @foreach (var cartItem in Model)
        {
            <div class="d-flex justify-content-between mb-2">
                <div class="clearfix">
                    <img src="@cartItem.ImgSrc" alt="Brak zdjęcia" />
                    <a asp-controller="Item" asp-action="Item" asp-route-id="@cartItem.ItemId"
                       class="pull-right ml-2 h4">@cartItem.ItemName</a>
                </div>
                <div class="clearfix">
                    <p class="pull-left mr-2 mt-1 price">@string.Format(new System.Globalization.CultureInfo("pl"), "{0:C}", cartItem.Price)</p>
                    <form asp-controller="Cart" asp-action="Remove" class="pull-right">
                        <input type="hidden" name="id" value="@cartItem.Id" />
                        <button type="submit" class="btn btn-danger">
                            <span class="fa fa-remove"></span>
                        </button>
                    </form>
                </div>
            </div>
            <hr />
        }
        <div class="col-12">
            <div class="row d-flex justify-content-between">
                <strong class="h5">
                    Suma: <span>@ViewBag.TotalCost</span>
                </strong>
                <div>
                    <button class="btn btn-success">Confirm transation</button>
                </div>
            </div>
        </div>
    }
</div>