
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Areas/customer/Views/Shared/_CustomerLayout.cshtml";
}

@model AuctionApp.Core.BLL.DTO.Customer.ContactDTO

<style>
    dl>dt,
    dl,dd{
        float: left;
        text-align:justify;
    }
    dt{
        width:20%;
    }
    dd{
        width:80%;
    }
</style>

@await  Component.InvokeAsync("EditContact")

<div class="container">
    <div class="card mt-4 mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h3 class="mb-3">Dane kontaktowe.</h3>
                <div>
                    <a class="mr-2 btn btn-primary text-light" role="button" data-toggle="modal" data-target="#EditContactModal">
                        <span class="fa fa-edit"></span>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-start">
                <img class="" src="@Model.Photo" height="200" width="200" alt="Card image cap">
                <div class="ml-5">
                    <h4>@string.Format("{0} {1}", Model.Name, Model.Surname)</h4>
                    <dl>
                        <dt>Telefon:</dt>
                        <dd>@Model.Phone</dd>
                        <dt>E-mail:</dt>
                        <dd>@Model.Email</dd>
                        <dt>Adres:</dt>
                        <dd>@Model.Address</dd>
                        <dt>Kraj:</dt>
                        <dd>@Model.Country</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>