@model IEnumerable<AuctionApp.Core.BLL.DTO.Item.ItemDTO>

<div class="col-12">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0">
                <div class="card">
                    <img src="@Url.Content(item.ImgSrc)" style="height:200px; width: 100%;" />
                    <div class="card-body">
                        <h5>
                            <a asp-controller="Item" asp-action="Item" asp-route-id="@item.Id">@item.Name</a>
                        </h5>
                        @if (item.BuyNowPrice != 0)
                        {
                            <p>@string.Format(new System.Globalization.CultureInfo("pl"), "Kup teraz: {0:C}", item.BuyNowPrice)</p>
                        }
                        else
                        {
                            <p>Kup teraz: <span class="text-muted">brak</span></p>
                        }
                        <a asp-controller="Item" asp-action="Item" asp-route-id="@item.Id" role="button" class="btn btn-dark d-block">
                            <span class="fa fa-plus"></span>
                            <span>Zobacz</span>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>