<div id="FilterBar" class="btn-toolbar justify-content-end pt-2 pb-2 pr-3" role="toolbar">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Order by:</span>
        </div>
        <div id="OrderByGroupButton" class="btn-group" role="group">
            <a role="button" class="btn btn-primary" data-order-by="@AuctionApp.Core.BLL.Enum.SortBy.Name"
               asp-controller="Item" asp-action="Index"
               asp-route-pageNumber="@ViewBag.PageNumber"
               asp-route-sortBy="@AuctionApp.Core.BLL.Enum.SortBy.Name"
               asp-route-categoryId="@ViewBag.CategoryId">Name</a>
            <a role="button" class="btn btn-primary" data-order-by="@AuctionApp.Core.BLL.Enum.SortBy.EndDateAuction"
               asp-controller="Item" asp-action="Index"
               asp-route-pageNumber="@ViewBag.PageNumber"
               asp-route-sortBy="@AuctionApp.Core.BLL.Enum.SortBy.EndDateAuction"
               asp-route-categoryId="@ViewBag.CategoryId">Auction end date</a>
            <a role="button" class="btn btn-primary" data-order-by="@AuctionApp.Core.BLL.Enum.SortBy.PriceBuyNow"
               asp-controller="Item" asp-action="Index"
               asp-route-pageNumber="@ViewBag.PageNumber"
               asp-route-sortBy="@AuctionApp.Core.BLL.Enum.SortBy.PriceBuyNow"
               asp-route-categoryId="@ViewBag.CategoryId">Price to buy</a>
        </div>
    </div>
</div>
