
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AuctionLayout.cshtml";
}

@model AuctionApp.Models.PagedItemViewModel

<div class="col-12">
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-12 col-sm-6 col-lg-4 mt-3 mb-2 mb-lg-0">
                <div class="card">
                    <img src="@Url.Content(item.ImgSrc)" style="height:200px; width: 100%;" />
                    <div class="card-body">
                        <h5><a asp-controller="Item" asp-action="Item" asp-route-id="@item.Id">@item.Name</a></h5>

                        <div class="d-flex justify-content-lg-between mb-2">
                            <span>@Html.DisplayNameFor(m=>item.Payment):</span>
                            <span>@item.Payment</span>
                        </div>
                        <div class="d-flex justify-content-lg-between mb-2">
                            <span>@Html.DisplayNameFor(m => item.BuyNowPrice):</span>
                            <span>@string.Format(new System.Globalization.CultureInfo("pl"), "{0:C}", item.BuyNowPrice)</span>
                        </div>

                        <a asp-controller="Item" asp-action="Item" asp-route-id="@item.Id" role="button" class="btn btn-dark d-block">
                            <span class="fa fa-plus"></span>
                            <span>Zobacz</span>
                        </a>
                    </div>
                </div>
            </div>
        }
        <div class="col-12">
            <ul id="PaginationList" class="pagination justify-content-lg-end justify-content-center mt-2">
                <li class="page-item">
                    @if (Model.TotalPages > 0)
                    {
                        <a class="page-link" asp-controller="Item" asp-action="Index"
                           asp-route-pageNumber="@(ViewBag.PageNumber - 1)"
                           asp-route-categoryId="@ViewBag.CategoryId"
                           asp-route-sortBy="@ViewBag.SortBy">Previous</a>
                    }
                </li>

                @for (var i = 0; i < Model.TotalPages; i += 1)
                {
                    <li class="page-item" data-id="@(i+1)">
                        <a class="page-link" asp-controller="Item" asp-action="Index"
                           asp-route-pageNumber="@(i+1)"
                           asp-route-categoryId="@ViewBag.CategoryId"
                           asp-route-sortBy="@ViewBag.SortBy">@(i + 1)</a>
                    </li>
                }
                @if (Model.TotalPages > 0)
                {

                    <li class="page-item">
                        <a class="page-link" asp-controller="Item" asp-action="Index"
                           asp-route-pageNumber="@(ViewBag.PageNumber + 1)"
                           asp-route-categoryId="@ViewBag.CategoryId"
                           asp-route-sortBy="@ViewBag.SortBy">Next</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>