
@{
    ViewData["Title"] = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AuctionApp.Models.ItemDetailsViewModel

<div id="Item">
    <div class="row pt-2">
        <div class="col-lg-4">
            <img src="@Url.Content(Model.ImgSrc)" class="img-thumbnail" />
        </div>
        <div class="col-lg-8 pt-1">
            <h2>@Model.Name</h2>
            <table class="clearfix table table-item-info">
                <tbody>
                    <tr>
                        <th>Wystawił:</th>
                        <td>@Model.UserNameOfOwner</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.BuyNowPrice):</th>
                        <td>
                            @if ((decimal)Model.BuyNowPrice == 0.00M)
                            {<span>brak</span> }
                            else
                            { @string.Format(new System.Globalization.CultureInfo("pl"), "{0:C}", Model.BuyNowPrice)}
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Status):</th>
                        <td>
                            @if (Model.Status == AuctionApp.Core.DAL.Data.AuctionContext.Domain.Status.InAuction)
                            {<span class="text-success">aukcja aktywna</span> }
                            else
                            { <span>aukcja w poczekalni</span>}
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Payment):</th>
                        <td>@Model.Payment</td>
                    </tr>
                </tbody>
            </table>
            <form asp-controller="Cart" asp-action="AddCartItem" class="mb-2">
                <input type="hidden" name="itemId" value="@Model.Id" />
                @if (Model.Status == AuctionApp.Core.DAL.Data.AuctionContext.Domain.Status.InAuction)
                {
                    <button type="submit" class="btn btn-dark">Kup teraz</button>
                }
                else
                {
                    <p class="h5">Przedmiot w poczekalni.</p>
                }
            </form>
            <div class="bg-dark text-white p-4 font-weight-bold auction-info">
                <p class="text-center">
                    Cene przedmiotu można licytowac.
                </p>
                <p class="text-center">
                    Przedmiot można kupić za cene podana przez właściciela odrazu wciskając kup teraz.
                </p>
                <p class="text-center">
                    Licytacja oraz zakup są dostępne po zalogowaniu.
                </p>
            </div>
        </div>
    </div>
    <div class="row no-gutters mt-2">
        <div class="col-lg-5">
            <div class="col-lg-12">
                <div class="d-flex justify-content-between">
                    <h4>Tabela ofert:</h4>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("customer") && Model.Status == AuctionApp.Core.DAL.Data.AuctionContext.Domain.Status.InAuction)
                    {
                        @await Component.InvokeAsync("NewAuctionBid", new { id = Model.Id })

                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#NewBidModal">Dodaj oferte</button>
                    }
                </div>
                @if (Model.Status == AuctionApp.Core.DAL.Data.AuctionContext.Domain.Status.InAuction)
                {
                    @if (Model.Bids.Count != 0)
                    {
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.Bids[0].Username)</th>
                                    <th>@Html.DisplayNameFor(m => m.Bids[0].BidAmount)</th>
                                    <th>@Html.DisplayNameFor(m => m.Bids[0].DatePlaced)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var bid in Model.Bids)
                                {
                                    <tr>
                                        <td>@bid.Username</td>
                                        <td>@string.Format(new System.Globalization.CultureInfo("pl"), "{0:C}", bid.BidAmount)</td>
                                        <td>@bid.DatePlaced</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    { <p class="bg-dark text-white text-center font-weight-bold pt-5 pb-5 h5">Brak ofert.</p>}
                }
                else
                { <p class="bg-dark text-white text-center font-weight-bold pt-5 pb-5 h5">Aukja wciąż nie rozpoczęta.</p>}
            </div>
        </div>
        <div class="col-lg-7">
            <div class="col-lg-12">
                <h4>Opis:</h4>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nazwa:</th>
                            <th>Opis</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var desc in Model.Descriptions)
                        {
                            <tr>
                                <td>@desc.Key</td>
                                <td>@desc.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <h4 class="col-lg-6">Ostation dodane:</h4>
            @await Component.InvokeAsync("Item", AuctionApp.Core.DAL.Data.AuctionContext.Domain.Status.InAuction)
        </div>
    </div>
</div>